body {
  background: #FFFFFF;
  color: rgb(111, 124, 178);
  margin: 0%;
  font-family: "Roboto", sans-serif;
}

.container-main {
  width: 78%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-image: url(img12hw/designer_1.png);
  background-repeat: no-repeat;
  background-position: right;
}

h3 {
  color: rgb(55, 68, 126);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  width: 78%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper {
  width: 78%;
  margin: 0% auto;
  padding-bottom: 27%;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30%;
}
.topnav a {
  text-decoration: none;
  color: rgb(80, 95, 152);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.button-buy {
  width: 14%;
  min-height: 26px;
  color: rgb(255, 255, 255);
  background: rgb(17, 27, 71);
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  min-width: 80px;
}

.button-buy:hover {
  color: rgb(9, 17, 51);
  background: #F0F0F0;
  border: 2px solid #091133;
  -webkit-transform: scale(0.85, 0.9);
          transform: scale(0.85, 0.9);
  min-width: 80px;
}

.container-header {
  width: 54%;
  margin-top: 20vh;
}
.container-header h1 {
  color: rgb(9, 17, 51);
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
}
.container-header p {
  color: rgb(80, 95, 152);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.butt-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  padding-top: 6%;
}

.purchasekit {
  width: 32%;
  min-height: 26px;
  color: rgb(255, 255, 255);
  background: rgb(17, 27, 71);
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
}

.learn {
  width: 32%;
  min-height: 26px;
  color: rgb(9, 17, 51);
  border: 2px solid #091133;
  border-radius: 2px;
  background: #F0F0F0;
  cursor: pointer;
}

.learn:hover {
  color: rgb(255, 255, 255);
  background: rgb(17, 27, 71);
  -webkit-transform: scale(0.85, 0.9);
          transform: scale(0.85, 0.9);
}

.purchasekit:hover {
  color: rgb(9, 17, 51);
  background: #F0F0F0;
  border: 2px solid #091133;
  -webkit-transform: scale(0.85, 0.9);
          transform: scale(0.85, 0.9);
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.minidiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 550px;
}
section h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgb(9, 17, 51);
}

.text1s {
  width: 43%;
}

.text2s {
  width: 40%;
}

.mini_p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgb(9, 17, 51);
}

.section1 {
  min-height: 700px;
}

.purchase {
  width: 40%;
  min-height: 28px;
  min-width: 120px;
  color: rgb(255, 255, 255);
  background: rgb(17, 27, 71);
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
}

.purchase:hover {
  color: rgb(9, 17, 51);
  background: #F0F0F0;
  border: 2px solid #091133;
  -webkit-transform: scale(0.85, 0.9);
          transform: scale(0.85, 0.9);
  min-width: 120px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 800px;
  background-image: url(img12hw/Rectangle.png);
  background-repeat: no-repeat;
}

.text_article {
  width: 42%;
}
.text_article h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: rgb(34, 47, 101);
  margin-bottom: 0;
}

.p_art {
  color: rgb(55, 68, 126);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
}

h4 {
  color: rgb(9, 17, 51);
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  margin: 5% 0;
}

.p_art2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
  margin-top: 15%;
  margin-bottom: 0;
}

footer {
  background: rgb(231, 236, 255);
  min-height: 170px;
}

.container-footer {
  width: 78%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer1 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
}

.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32%;
}

.purchase_footer {
  width: 17%;
  min-height: 28px;
  color: rgb(255, 255, 255);
  background: rgb(17, 27, 71);
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  min-width: 120px;
}

.purchase_footer:hover {
  color: rgb(9, 17, 51);
  background: #F0F0F0;
  border: 2px solid #091133;
  -webkit-transform: scale(0.85, 0.9);
          transform: scale(0.85, 0.9);
  min-width: 120px;
}

.bottom_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30%;
}
.bottom_nav a {
  text-decoration: none;
  color: rgb(146, 158, 204);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

hr {
  border: 0;
  width: 100%;
  background-color: #CDD1D4;
  height: 1px;
}

.icons {
  height: 30%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10%;
}

@media screen and (max-width: 720px) {
  .container-main {
    width: 100%;
    margin: 0%;
  }
  .wraper {
    width: 100%;
    margin: 0% auto;
    padding-bottom: 27%;
  }
  header {
    background-image: none;
  }
  nav {
    width: 100%;
    margin: 0%;
  }
  .topnav {
    gap: 5%;
  }
  .container-header {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .butt-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3%;
    padding-top: 4%;
  }
  .minidiv {
    display: none;
  }
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 550px;
  }
  section img {
    width: 100%;
  }
  .text1s {
    width: 100%;
    text-align: center;
  }
  .text2s {
    width: 100%;
    text-align: center;
  }
  .text_article {
    width: 70%;
  }
  .container-footer {
    width: 100%;
  }
  .icons {
    display: none;
  }
  .footer2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom_nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}