body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}
.animation1 {
    background-image: url(https://pibig.info/uploads/posts/2022-12/1670045635_1-pibig-info-p-chernoe-zvezdnoe-nebo-oboi-oboi-1.jpg);
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.sword1, .sword2, .sword3 {
    width: 400px;
    height: 20px;
    background-color: rgb(126, 126, 126);
    border-radius: 15px;
    border: 1px solid white;
}
.blackdiv2 {
    background-color: black;
    margin-left: 340px;
    width: 40px;
    height: 20px;
}
.blackdiv1, .blackdiv3 {
    background-color: black;
    margin-left: 20px;
    width: 40px;
    height: 20px;
}

.animation1:hover > .sword2 {
    transform: rotateZ(45deg);
    --blue-shadow:
    0 0 0.1vw 0.2vw #c5f7ff,
    0 0 0.4vw 0.6vw #00b3ff,
    0 0 1vw 0.4vw #4056ff;
    box-shadow: var(--blue-shadow);
    background: rgb(75, 96, 255);
    transition: 2s;
}
.animation1:hover > .sword3 {
    transform: rotateZ(-45deg);
    transform-origin: 122px 7px;
    --blue-shadow:
    0 0 0.1vw 0.2vw #ffc5c5,
    0 0 0.4vw 0.6vw #ff0000,
    0 0 1vw 0.4vw #ff4040;
    box-shadow: var(--blue-shadow);
    background: rgb(255, 34, 34);
    transition: 2s;
}
.animation1:hover > .sword1 {
    --blue-shadow:
    0 0 0.1vw 0.2vw #cbffc5,
    0 0 0.4vw 0.6vw #00ff04,
    0 0 1vw 0.4vw #08e400;
    box-shadow: var(--blue-shadow);
    transform: translateY(60px);
    transition: 2s;
    opacity: 0;
}

.animation2 {
    display: flex;
    height: 200px;
    align-items: end;
}
.teamL, .team2, .team3, .team4, .team5, .team6, .teamR {
    display: flex;
    height: 200px;
    width: 60px;
}
.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7 {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 140px;
}

.teamL {
    animation: anim2l 2s ease 1s infinite reverse;
}
.teamR {
    animation: anim2r 2s ease infinite reverse;
}

.ball1 {
    background-color: #0f21ae;
}
.ball2 {
    background-color: #0050f0;
}
.ball3 {
    background-color: #00d6f7;
}
.ball4 {
    background-color: #00ffd9;
}
.ball5 {
    background-color: #04d186;
}
.ball6 {
    background-color: #00a76c;
}
.ball7 {
    background-color: #007246;
}
@keyframes anim2l{
    0%, 50%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(55deg);
    }    
}

@keyframes anim2r{
    0%, 50%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-55deg);
    }    
}